@import "background.css";
@import "top.css";

html,
body {
  position: relative;
  height: 100vh;
}

body {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.swiper-slide .title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 41px;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}
